//
//  Secret.xcconfig
//  Megabox
//
//  Created by chanhyeok on 5/5/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_REST_KEY = 9f8a0319f39153f86ea11268214a7e6c
KAKAO_NATIVE_APP_KEY = e57a0afd682bb592d6e3668cda774a4f
KAKAO_CLIENT_SECRET = zRsTliCTIFOFzCxqeGdaZbn8YmSdh6JE
TMDB_API_KEY = 35c12f895ab8c77a44aa8064456296aa
