# 1. Mac OS 폴더 설정 파일 (맥북이 혼자 자꾸 만들어내는 쓰레기 파일)
.DS_Store

# 2. Xcode 유저 설정 파일 (내 화면 배치, 열어둔 탭 정보 등 - 팀원과 공유할 필요 없음)
xcuserdata/

# 3. 빌드 찌꺼기 파일 (시뮬레이터 돌릴 때마다 생기는 거대한 임시 파일들)
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# 4. 외부 패키지 관리자 (SPM 사용 시)
.build/

# 5. 숨겨야 하는 민감한 정보 (API 키 등이 들어있는 파일이 있다면 이름 추가!)
# Secrets.swift
# config.json
*.xcconfig
# macOS system files
.DS_Store
**/.DS_Store*.xcuserstate

# Workbook documents
choi/workbook/
